<div class="container-main">
    <div fxFlex id="content-about">
        <div id="about">
            <h1>Sobre mim</h1>
            <p>
                Desenvolvedor com experiência em construções de API REST E RESTfull, integração com serviços externos, construção e integração de microservices, banco de dados, correção de bugs, análise e desenvolvimento de software. Apaixonado por resolução de problemas, pensamentos lógicos, boas práticas, padrões de projetos.
            </p>
        </div>
    </div>

    <div id="content-stack">
        <div id="stacks">
            <h1>Stacks</h1>
            <div class="img">
                <div>
                    <img id="logo-php" src="../../../assets/img/php-logo.png" alt="logo-php">
                    <img id="logo-symfony" src="../../../assets/img/symfony-logo.png" alt="logo-symfony">
                    <img id="logo-angular" src="../../../assets/img/angular.png" alt="logo-angular">
                    <img id="logo-javascript" src="../../../assets/img/javascript-logo.png" alt="logo-javascript">
                    <img id="logo-mysql" src="../../../assets/img/logo-mysql.png" alt="logo-mysql">
                    <img id="logo-postgresql" src="../../../assets/img/postgresql-logo.png" alt="logo-postgresql">
                    <img id="logo-linux" src="../../../assets/img/linux-logo.png" alt="logo-linux">
                </div>
            </div>
        </div>
        <div id="btn-navigate">
            <button routerLink="/projects" class="btn from-center">Veja meus projetos</button>
        </div>
    </div>

    

    
</div>


