<div class="container-main">
    <div fxFlex id="content-about">
        <div id="about">
            <h1>Sobre mim</h1>
            <p>
                Desenvolverdor com experiência em construções de API REST E RESTfull, integração com serviços externos, construção e integração de microservices, banco de dados, correção de bugs, análise e desenvolvimento de software. Apaixonado por resolução de problemas, pensamentos lógicos, boas práticas, padrões de projetos.
            </p>
        </div>
    </div>

    <div id="content-stack">
        <div id="stacks">
            <h1>Stacks</h1>
        </div>
        <div id="btn-navigate">
            <button routerLink="/projects" class="btn from-center">Veja meus projetos</button>
        </div>
    </div>

    

    
</div>


