#toolbar {
	height: 100vh;
}

#btn-group {
	display: flex;
	justify-content: end;
	align-items: end;
	width: 100%;
}

#logo {
	color: lime;
	font-family: "monospace";
	font-size: 22px;
	cursor: pointer;
	text-decoration: none;
}

.div-container {
	width: 100%;
	height: 100%;
	background-color: #5b5b5b;
}

@media (max-width: 599px) {
	#logo {
		display: flex;
		justify-content: center;
	}
	
}