<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" class="example-drawer">teste</mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="basic">

      <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>