<mat-toolbar id="toolbar" class="mat-elevation-z10" fxLayout="row" color="basic">
  <div fxFlex id="logo" (click)="location('/')">
    <div id="logo-image">
      <img style="width: 100%; height: 100%;" src="../assets/img/code.png" alt="code-logo">
    </div>
    <span id="logo-text">Bruno Pierri</span>
  </div>
  <!-- <span fxFlex id="logo" (click)="location('/home')"><mat-icon id="icon-logo">code</mat-icon> Bruno Pierri</span> -->

  <!-- buttons fora do menu responsivo -->
  <button mat-button class="btn-desktop" routerLink="{{ item.router}}" *ngFor="let item of menuItems" fxHide.xs>
    <mat-icon class="mr">{{item.icon}}</mat-icon>
    {{item.label}}
  </button>

  <!-- buttons dentro do menu responsivo -->
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <button mat-menu-item routerLink="{{ item.router}}">
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>





<div id="img">
  <div class="div-container">

    <div id="apresentation">
      <div class="apresentation-text">
        Olá, eu sou <span id="apresentation-text-name">Bruno Pierri</span>.
      </div>
      <div class="apresentation-text">
        E sou um desenvolvedor web back-end.
      </div>
      <div class="apresentation-text">
        Apaixonado por resolver problemas!
      </div>
      <div class="apresentation-text">
        Conheça meu trabalho.
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>